# {{ ansible_managed }}
[Interface]
Address = {{ wireguard_address }}
PrivateKey = {{ wireguard_private_key.content |  b64decode}}
ListenPort = {{ wireguard_port }}
{% if wireguard_dns is defined %}
DNS = {{ wireguard_dns }}
{% endif %}
{% if wireguard_mtu is defined %}
MTU = {{ wireguard_mtu }}
{% endif %}
PostUp = {{ wg_postup_router_ubuntu }}
PostDown = {{ wg_postdown_router_ubuntu }}


