[Unit]
Description=Free5gc pcf NF
PartOf=free5gc-core.target
After=free5gc-core.target
After=free5gc-amfd.service
Requires=free5gc-amfd.service

[Service]
Type=simple

User=free5gc
Group=free5gc
Restart=always

# this is dumb but for now let it stay
ExecStartPost=/bin/sleep 6
ExecStart=/usr/bin/free5gc-pcf -c /etc/free5gc/pcf.yaml -l /var/log/free5gc/pcf.log
RestartSec=2
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=free5gc-core.target
