[Unit]
Description=Free5gc ausf NF
PartOf=free5gc-core.target
After=free5gc-core.target
After=free5gc-udmd.service
Requires=free5gc-udmd.service

[Service]
Type=simple

User=free5gc
Group=free5gc

Restart=always
# this is dumb but for now let it stay
ExecStartPost=/bin/sleep 3
ExecStart=/usr/bin/free5gc-ausf -c /etc/free5gc/ausf.yaml -l /var/log/free5gc/ausf.log
RestartSec=2
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=free5gc-core.target