[Unit]
Description=Free5gc udm NF
PartOf=free5gc-core.target
After=free5gc-core.target
After=free5gc-udrd.service
Requires=free5gc-udrd.service

[Service]
Type=simple

User=free5gc
Group=free5gc
Restart=always

# this is dumb but for now let it stay
ExecStartPost=/bin/sleep 2
ExecStart=/usr/bin/free5gc-udm -c /etc/free5gc/udm.yaml -l /var/log/free5gc/udm.log
RestartSec=2
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=free5gc-core.target

